<div class="animated fadeIn">
  <div class="row mt-2">


    <div class="col-sm-6">


 <div class="card">
        <div class="card-header">
          Authorization <strong>authorization_code</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Callback URL:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="" value="http://localhost/psd2/Loycus/oauth2client.php">
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Autorization URL:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="" value="https://apis-i.redsys.es:20443/psd2/xs2a/api-oauth-xs2a/services/rest/BBVA/authorize">
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Access Token URL:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="" value="https://apis-i.redsys.es:20443/psd2/xs2a/api-oauth-xs2a/services/rest/BBVA/token">
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Client Id:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="" value="fd602e84-1944-4341-87a6-7833e347b2c3">
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Client Secret:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="" value="hV6yE7iU1cB5iK5xJ4qR0nL8iW6lI0hO6fS3dS1uQ4jJ6oX8qH">
              </div>
            </div>



            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Scope</label>
              <div class="col-md-9">
                <select id="select1" name="select1" class="form-control">
                  <option value="openid">Please select</option>
                  <option value="PIS">PIS</option>
                  <option value="AIS">AIS</option>
                  <option value="SVA">SVA</option>
                </select>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">State:</label>
              <div class="col-md-9">
                <select id="select1" name="select1" class="form-control">
                  <option value="XSRF">1234567890</option>
                </select>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">code_challenge:</label>
              <div class="col-md-9">
                <select id="select1" name="select1" class="form-control">
                  <option value="Authz">01234567890</option>
                </select>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">code_challenge_method:</label>
              <div class="col-md-9">
                <select id="select1" name="select1" class="form-control">
                  <option value="plain">S256</option>
                </select>
              </div>
            </div>

			
			      <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Payment Id:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Payment ID recibido" readonly />
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Token Recibido:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Token recibido" readonly />
              </div>
            </div>


          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>


    </div><!--/.col-->

    <div class="col-sm-6">
     


 	<div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Debug area
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>__key__</th>
                <th>__value__</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Fachtnatus</td>
                <td>4324564g634hfghrhxdgfgd56fg5f3</td>
              </tr>
              <tr>
                <td>Nehemiahtus</td>
                <td>4324564g634hfghrhxdgfgd56fg5f3</td>
              </tr>
              <tr>
                <td>Gemariah</td>
                <td>4324564g634hfghrhxdgfgd56fg5f3</td>
              </tr>
              <tr>
                <td>Eustorgios</td>
                <td>4324564g634hfghrhxdgfgd56fg5f3</td>
              </tr>
              <tr>
                <td>Leopoldus</td>
                <td>4324564g634hfghrhxdgfgd56fg5f3</td>
              </tr>
            </tbody>
          </table>

        </div>

    </div>


    </div><!--/.col-->


  </div><!--/.row-->
</div>
