<div class="animated fadeIn">
  <div class="row mt-2">


    <div class="col-sm-6">


 <div class="card">
        <div class="card-header">
          Authorization <strong>client_credencial</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Callback URL:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="" value="http://localhost:4200/#/oauth2client">
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Autorization URL:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="" value="https://connect.bbva.com/token">
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Access Token URL:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="" value="https://connect.bbva.com/token/authorize">
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Client Id:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="" value="fd602e84-1944-4341-87a6-7833e347b2c3">
              </div>
            </div>


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Client Secret:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="" value="hV6yE7iU1cB5iK5xJ4qR0nL8iW6lI0hO6fS3dS1uQ4jJ6oX8qH">
              </div>
            </div>


<!--
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select1">Scope</label>
              <div class="col-md-9">
                <select id="select1" name="select1" class="form-control">
                  <option value="openid">Please select</option>
                  <option value="PIS">PIS</option>
                  <option value="AIS">AIS</option>
                  <option value="SVA">SVA</option>
                </select>
              </div>
            </div>
-->
 

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="multiple-select">Scopes
                <button type="button" class="btn"
                        popover="The responses for this API are accordingly filtered depending on the granted scopes for the calling application. These scopes are specified when the application is registered in BBVA API Market."
                        data-html="true"
                        popoverTitle="Avelable scopes"
                        triggers="focus"
                        popover-placement="bottom"
                        popover-append-to-body="true"
                        tooltip-html-unsafe
                      >
                  <i class="fa fa-info-circle fa-sm"></i>
                </button>

              </label>
              <div class="col-md-9">
                <select id="multiple-select" name="multiple-select" class="form-control" size="4" multiple>
                  <option value="openid">openid</option>
                  <!--<option value="paymentsTransfersList_sbx">paymentsTransfersList_sbx</option>-->
                  <option value="paymentsTransfer_simulation_sbx_2">paymentsTransfer_simulation_sbx_2</option>
                  <option value="paymentsTransfer_execution_sbx_1">paymentsTransfer_execution_sbx_1</option>
                </select>
              </div>
            </div>


			
		        <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Token Recibido:</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Token recibido" readonly />
              </div>
            </div>


          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>


    </div><!--/.col-->

    <div class="col-sm-6">
     


 	<div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Debug area
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>__key__</th>
                <th>__value__</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Fachtnatus</td>
                <td>4324564g634hfghrhxdgfgd56fg5f3</td>
              </tr>
              <tr>
                <td>Nehemiahtus</td>
                <td>4324564g634hfghrhxdgfgd56fg5f3</td>
              </tr>
              <tr>
                <td>Gemariah</td>
                <td>4324564g634hfghrhxdgfgd56fg5f3</td>
              </tr>
              <tr>
                <td>Eustorgios</td>
                <td>4324564g634hfghrhxdgfgd56fg5f3</td>
              </tr>
              <tr>
                <td>Leopoldus</td>
                <td>4324564g634hfghrhxdgfgd56fg5f3</td>
              </tr>
            </tbody>
          </table>

        </div>

    </div>


    </div><!--/.col-->


  </div><!--/.row-->
</div>
